doctype 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        meta(name="author", content="Maris Zemgalis")
        meta(name="description", content="Maris Zemgalis is a software developer with solid expertise in BPM - Business Process Management, CRM - Customer Relationship Management, ECM - Enterprise Content Management, ERP - Enterprise Resource Planning, GIS - Geographic Information Systems, PCI DSS - Payment Card Industry Data Security Standard.")
        title= "Maris Zemgalis - Software Developer"
        link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css", rel="stylesheet")
        link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
        link(href="style.css", rel="stylesheet", type="text/css")
        script.
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-37485821-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
    body
        #content
            header
                h1 Maris Zemgalis
                h2 Software Developer
            #contact
                a(href="http://lv.linkedin.com/in/zemgalis", title="LinkedIn")
                    i.icon-linkedin-sign.icon-5x
                a(href="http://twitter.com/zemgalis", title="Twitter")
                    i.icon-twitter-sign.icon-5x
                a(href="http://github.com/zemgalis", title="GitHub")
                    i.icon-github-sign.icon-5x

            