body {
  margin: 0; 
  padding: 0;
  text-align: center;
  font-family: 'Trebuchet MS';
  font-size: 1em;
  color: #005580;
  background-color: #B2D3EC;
}

a img {
  border: none;
}

#content h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  margin: 10px 0 0 10px;
}

.content {
  margin: 0px auto;
} 

#contact {
  margin: 10px auto;
}

#contact a {
  text-decoration: none;
  margin: 0 10px 0 10px;
}

header {
  text-align: center;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

